<app-top-toolbar></app-top-toolbar>
<div class="container mt-5">

    <h1>Bienvenue</h1>

    <hr>

    <div class="row mt-5">
        <div class="col-4">
            <img class="imgPubeo rounded" src="../assets/images/pubeoadvertising.jpg">
        </div>
        <div class="col-8 text-left p-3">
            <p>
                Nombre d'inscriptions :
            </p>
            <p>
                Nombre de requêtes traitées
            </p>
            <p>
                Nombre d'erreurs levées :
            </p>
        </div>
    </div>
</div>