<table class="table table-hover">
    <tr *ngFor="let part of particulars; let i = index">
        <td>{{i+1}}</td>
        <td>{{part.prenom}}</td>
        <td>{{part.nom}}</td>
        <td>{{part.mail}}</td>
        <td>{{part.numeroTel}}</td>
        <td>
            <button routerLink="/particuliers/details/{{part.id}}" class="btn btn-sm btn-primary d-flex justify-content-center align-content-between">
                <i class="material-icons">create</i>
                <span class="textInButton">Details</span>
            </button>
        </td>
        <td>
            <button class="btn btn-sm btn-danger d-flex justify-content-center align-content-between">
                <i class="material-icons">delete</i>
                <span class="textInButton">Supprimer</span>
            </button>
        </td>
    </tr>
</table>