.form-group>label{
    font-weight: lighter;
}

form{
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-container{
    margin-top: 50px;
}

.staticCardText{
    color: lightgray;
}

mat-form-field {
    margin-top: 10px;
    width: 100%;
}

mat-card{
    background-color: brown;
    color: white;
}