<app-top-toolbar></app-top-toolbar>
<div class="container">
    <h1 class="text-center mt-3">{{particular.prenom}} {{particular.nom}}</h1>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <div class="div-update-form">
                <form #form="ngForm">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Prénom</label>
                            <input name="Firstname" class="form-control" value="{{particular.prenom}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Nom</label>
                            <input name="Lastname" class="form-control" value="{{particular.nom}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nom d'utilisateur</label>
                        <input name="Username" class="form-control" value="{{particular.pseudo}}">
                    </div>
                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input name="Password" class="form-control" value="password" type="password">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input name="Email" class="form-control" value="{{particular.mail}}">
                    </div>
                    <div class="form-group">
                        <label>Numéro de téléphone</label>
                        <input name="PhoneNumber" class="form-control" value="{{particular.numeroTel}}">
                    </div>
                    <div class="form-group">
                        <label>Date de naissance</label>
                        <input type="date" name="Birthdate" class="form-control"
                            value="{{particular.dateNaissance | date:'yyyy-MM-dd'}}">
                    </div>
                    <div class="form-group">
                        <label>Adresse</label>
                        <input name="Address" class="form-control" value="{{particular.adresse}}">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Ville</label>
                            <input name="City" class="form-control" value="{{particular.localite.ville}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Code postal</label>
                            <input name="Zipcode" class="form-control" value="{{particular.localite.codePostal}}">
                        </div>
                    </div>
                    <div class="form-group text-center mt-4">
                        <button type="submit" class="btn btn-lg">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div *ngFor="let annonce of particular.StickerList" class="card-container">
                <div class="card text-white bg-dark mb-3 ml-3 mr-3">
                    <h5 class="card-header">{{annonce.Title}}</h5>
                    <div class="card-body">
                        <p class="card-text"><span class="staticCardText">Description : </span>{{annonce.Description}}</p>
                        <p class="card-text"><span class="staticCardText">Rémunération : </span>{{annonce.Remuneration}} €</p>
                        <p class="card-text"><span class="staticCardText">Utilisations restantes : </span>{{annonce.RemainingUses}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>