<div class="div-add-form">
    <form #form="ngForm" (submit)="onSubmit(form)">
        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="pubeoService.professionelForm.id">
        <input type="hidden" name="stickers" #stickers="ngModel" [(ngModel)]="pubeoService.professionelForm.stickers">
        <div class="row">
            <div class="form-group col-md-6">
                <label>Nom de l'entreprise</label>
                <input name="nomEntreprise" #nomEntreprise="ngModel" [(ngModel)]="pubeoService.professionelForm.nomEntreprise" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Mot de passe</label>
                <input name="MotDePasse" #MotDePasse="ngModel" [(ngModel)]="pubeoService.professionelForm.MotDePasse" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input name="mail" #mail="ngModel" [(ngModel)]="pubeoService.professionelForm.mail" class="form-control">
        </div>
        <div class="form-group">
            <label>Numéro de téléphone</label>
            <input name="numeroTel" #numeroTel="ngModel" [(ngModel)]="pubeoService.professionelForm.numeroTel" class="form-control">
        </div>
        <div class="form-group">
            <label>Adresse</label>
            <input name="adresse" #adresse="ngModel" [(ngModel)]="pubeoService.professionelForm.adresse" class="form-control">
        </div>
        <div class="form-group">
            <label>Numéro de TVA</label>
            <input name="numeroTVA" #numeroTVA="ngModel" [(ngModel)]="pubeoService.professionelForm.numeroTVA" class="form-control">
        </div>
        <div class="form-group text-center mt-4">
            <button type="submit" class="btn btn-lg">Envoyer</button>
        </div>
    </form>
</div>