<app-top-toolbar></app-top-toolbar>
<div class="container">
    <h1 class="text-center mt-3">Validation des formulaires</h1>
    
    <hr>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Annonceur</th>
            <th scope="col">Hauteur</th>
            <th scope="col">Largeur</th>
            <th scope="col">Utilisations restantes</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sticker of stickers; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{sticker.titre}}</td>
            <td>{{sticker.professionnel.nomEntreprise}}</td>
            <td>{{sticker.hauteur}}</td>
            <td>{{sticker.largeur}}</td>
            <td>{{sticker.nbUtilisationsRestantes}}</td>
            <td><i class="material-icons color_green">check_circle</i></td>
            <td><i class="material-icons color_red">cancel</i></td>
          </tr>
        </tbody>
    </table>
    
</div>
